@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 3.6%;
  --card: 0 0% 100%;
  --card-foreground: 0 0% 3.6%;
  --popover: 0 0% 100%;
  --popover-foreground: 0 0% 3.6%;
  --primary: 0 0% 9%;
  --primary-foreground: 0 0% 100%;
  --secondary: 0 0% 96.1%;
  --secondary-foreground: 0 0% 9%;
  --muted: 0 0% 89.8%;
  --muted-foreground: 0 0% 45.1%;
  --accent: 0 0% 9%;
  --accent-foreground: 0 0% 100%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 100%;
  --border: 0 0% 89.8%;
  --input: 0 0% 89.8%;
  --ring: 0 0% 3.6%;
  --radius: 0.5rem;
  --success: 120 100% 30%;
  --danger: 0 100% 50%;
}

.dark {
  --background: 0 0% 3.6%;
  --foreground: 0 0% 98.2%;
  --card: 0 0% 8.6%;
  --card-foreground: 0 0% 98.2%;
  --popover: 0 0% 8.6%;
  --popover-foreground: 0 0% 98.2%;
  --primary: 0 0% 98.2%;
  --primary-foreground: 0 0% 9%;
  --secondary: 0 0% 14.9%;
  --secondary-foreground: 0 0% 98.2%;
  --muted: 0 0% 14.9%;
  --muted-foreground: 0 0% 63.9%;
  --accent: 0 0% 98.2%;
  --accent-foreground: 0 0% 9%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 0 0% 9%;
  --border: 0 0% 14.9%;
  --input: 0 0% 14.9%;
  --ring: 0 0% 83.1%;
  --success: 120 100% 50%;
  --danger: 0 100% 60%;
}

* {
  @apply border-border;
}

body {
  @apply bg-background text-foreground;
}
